body {
	margin: 0;
	padding: 0;
    background: #000 url(image/111498504.jpg);
    background-size: 1331px 945px;
	font-size: 14px;
/*	color: #ffcccc;*/
    color: #ff00ff;
}


h1, h2, h3, p, ul, ol {
	margin-top: 10;
    
}

h1, h2, h3 {
	text-transform: inherit;
}

h1 {
	letter-spacing: 2px;
	font-size: 210%;
    color: #f01;
}

h2 {
	letter-spacing: 1px;
	font-size: 140%;
}

h3 {
	font-size: 120.1%;
}

p, ul, ol {
	margin-bottom: 1.8em;
	line-height: 180%;
	color: #f0f0f0;
}

strong, em {
	color: #ddd;
}

a {
	text-decoration: inherit;
}

a:link {
	border-bottom: 1px dotted #333;
	color: #ccccff;
}

a:visited {
	color: #cffcff;
	border-bottom: 1px dotted #666;
}

a:hover {
	color: #f00;
	border-bottom-color: #fff;
}

a img {
	border: none;
}

/* WRAP - Encloses everything to add the header background. */

/*#wrap {*/
/*    background: url(image/paphos-holidays.jpg)no-repeat 0% 0%;*/
/*    background-size: 250px 200px;*/
/**/
/*}*/

/* HEADER - Contains the logo, slogan and menu. */

#header {
	width: 1024px;
	height: 150px;
	margin: 1 auto;
	text-transform: inherit;
}

/* LOGO & SLOGAN */

#header h1 {
	margin: 0;
	text-align: center;
/*	color: #FF99FF;*/
    color: #f9bbff;

}
#header h2 {
	margin: 0;
	text-align: center;
    color: #ffffcc;

}

#header h1 {
	padding-top: 20px;
}

#header a {
	border: none;
    color: #99bbff;
}

#header a:hover {
	color: #009999;
}

/* MENU */

#header ul {
	margin: 1;
	padding: 1em 0 0 0;
	line-height: inherit;
	list-style: none;
	text-align: center;
	font-variant: normal;
	text-transform: capitalize;
	color: #F000FF;
}

#header li {
	display: inline;
	font-size: 15px;
}

#header li a {
	padding: 0 1em;
	font-weight: bold;
	color: #fff;
}

#header li a:hover {
	background: url(image/post_entry_bg.png) repeat-x 0 50%;
	color: #000;
}
/*Another type of menu --Z. Ye*/
#header li {
	padding: 2px 0;
	border-bottom: 1px dotted #333;
}

#header li a {
	border: none;
}

#header li a:hover {
	padding-left: 20px;
	background: url(image/bullet_go.png) no-repeat 0 50%;
	color: #fff;
}


/* PAGE - Contains the main content and the sidebar. */

#page {
	width: 1024px;
	margin: 5 auto;
}

/* CONTENT - The main content area. */

#content {
	float: left;
	width: 650px;
}

/* POST - Contains a section of the content. Grouping content is neat. */

.post {
	margin-bottom: 20px;
}

.post .title {
	height: 35px;
	margin: 0;
	padding: 6px 0 0 20px;
	background: url(image/post_title_bg.png) repeat-x;
/*    background: url(image/bg_yellow.png) repeat-x;*/
	font-size: 153.9%;
	font-weight: normal;
	color: #ffcccc;
}

.post .title a {
	border: none;
	color: #fff;
}

.post .entry {
	padding: 20px 20px 1px 20px;
	background: url(image/post_entry_bg.png);
}

.post .byline {
	font-size: smaller;
	color: #666;
}

.post .byline a {
	font-weight: bold;
	color: #999;
}

.post .meta {
	background: url(image/post_meta_bg.png);
	border-top: 1px solid #000;
}

.post .meta p {
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #000;
	line-height: normal;
	color: #666;
}

.post .meta a {
	border: none;
	color: #999;
}

.post .meta a:hover {
	color: #fff;
}

.post .meta .tags {
	padding-left: 30px;
	background: url(image/tag_green.png) no-repeat 10px 50%;
}

.post .meta .tags a {
}

.post .meta .links {
}

.post .meta .links a {
	padding-left: 22px;
}

.post .meta .comments {
	background: url(image/comments.png) no-repeat 0 50%;
}

.post .meta .permalink {
	background: url(image/world_link.png) no-repeat 0 50%;
}

.post .meta .more {
	background: url(image/bullet_go.png) no-repeat 0 50%;
}

/* SIDEBAR - For extra links and ad spaces. */

#sidebar {
	float: left;
    padding: 10;
	width: 250px;
}

#sidebar ul {
	margin: 1;
	padding: 0;
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
	padding: 5px;
}

#sidebar li li {
	padding: 2px 0;
	border-bottom: 1px dotted #333;
}

#sidebar li li a {
	border: none;
}

#sidebar li li a:hover {
	padding-left: 20px;
	background: url(image/bullet_go.png) no-repeat 0 50%;
	color: #fff;
}

#sidebar h2 {
	height: 35px;
	margin: 1;
	padding: 6px 0 0 20px;
	background: url(image/post_title_bg.png) repeat-x;
	font-size: 153.9%;
	font-weight: normal;
    color: #ffcccc;
}

/* FOOTER - For footnotes and copyright notices. */

#footer {
	clear: both;
	width: 660px;
	margin: 0 auto;
	padding: 10px 0;
	border-top: 1px solid #000;
	text-align: center;
	font-size: small;
}

#footer p {
	margin: 0;
	line-height: normal;
}

#footer .legal img {
	margin-top: 1em;
}
.column{
    float: left;
}

